/*
purple: #8A2BE2
green: #228B22
blue: #87CEEb
off-white: #FFFACD
text: #000080
*/
body {
    box-sizing: border-box;
}

.top-box {
    width: 100%;
    border: 3px solid;
    padding-bottom: 15px;
}

#purple-rect {
    height: 100px;
    width: 40px;
    background-color: #8A2BE2;
    display: inline-block;
    margin-left: 10px; 
}

#green-rect {
    height: 150px;
    width: 300px;
    background-color: #228B22;
    display: inline-block;
    margin-left: 5%; 
    margin-top: 15px;
}

#circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #87CEEb;
    display: inline-block;
    margin-left: 5%;
  }


.middle-box {
    width: 90%;
    padding: 5%;
    border: dotted;
    margin-top: 25px;
}

#inside-box {
    width: 100%;
    height: 200px;
    background-color: #FFFACD;
    box-shadow: 5px 5px 10px;
}

.bottom-box {
    height: 250px;
    width: 50%;
    padding-top: 100px;
    box-shadow: 5px 5px 10px;
    margin: 25px auto;
}

.bottom-box h1 {
    text-align: center;
    letter-spacing: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000080;
}